:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --primary-color: #359eff;
  --blue-color: #0d6efd;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
}

.grid__column-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 16.6667%;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 100;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__body {
  margin: auto;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
}

.open {
  display: flex;
}

.hide {
  display: none !important;
}
.show {
  display: inline-block !important;
}
