.header {
  min-height: 120px;
  background: linear-gradient(-180deg, #0d6efd, #359eff);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  list-style: none;
  padding-left: 0;
  margin-top: 6px;
}

.navbar-item {
  margin: 0 8px;
  position: relative;
}

.navbar-item,
.navbar-item-link {
  display: inline-block;
  color: var(--white-color);
  font-size: 0.95rem;
  text-decoration: none;
  font-weight: 350;
}

.navbar-item:hover,
.navbar-item-link:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

/* .logo__image {
  width: 80px;
  height: 80px;
  position: absolute;
} */

.navbar-item-button {
  background-color: none;
}

.navbar-item--strong {
  font-weight: 500;
}

.navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 15px;
  background-color: #e6e6e6;
  top: 0;
  right: -8px;
}

.user-icon {
  display: none;
  position: relative;
}

.user-info {
  z-index: 1;
  position: absolute;
  background-color: #fff;
  margin-top: 8px;
  border-radius: 2px;
  left: 0;
  min-width: 100px;
}

.user-info__list {
  list-style-type: none;
  padding: 0 0;
  cursor: pointer;
}

.user-info__list-item {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.user-info__list-item:hover {
  background-color: rgb(107, 98, 96);
  color: #fff;
}

.logout {
  text-decoration: none;
  color: #fff;
}
.logout:hover {
  opacity: 0.7;
}

.fa-facebook {
  margin-right: 4px;
}

.no-pointer {
  cursor: text;
  color: #fff;
}

.auth-form__header {
  text-align: center;
}

.form-control {
  margin: 4px 16px;
  height: 48px;
  width: 400px;
}

.btn {
  color: #fff;
  height: 48px;
  background-color: #359eff;
  border: none;
  margin: 16px 16px;
  border-radius: 2px;
  text-align: center;
  border-radius: 4px;
}
.btn-success {
  width: calc(100% - 32px);
  line-height: 2.5rem;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header-width-search {
  height: 100px;
  display: flex;
  align-items: center;
  min-width: 200px;
}
.header__logo {
  height: 100px;
  width: 200px;
}
.header--logo__image {
  width: 100px;
}
.header__search {
  flex: 1;
  height: 40px;
  background-color: white;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.header__cart {
  position: relative;
  width: 10rem;
  text-align: center;
}

.fa-cart-shopping {
  position: relative;
  font-size: 2rem;
  color: white;
}

.num__product {
  position: absolute;
  padding: 3px 5px;
  right: -4px;
  bottom: 10px;
  font-size: 0.625rem;
  font-weight: 200;
  color: white;
  border-radius: 50%;
  background-color: #000;
}

.header__search-form {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 200px;
}
.header__search-input {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 1rem;
  border-radius: 3px;
}
.btn-search {
  height: 36px;
  width: 60px;
  float: left;
  margin: 0 2px;
  border-radius: 2px;
}
.fa-magnifying-glass {
  color: white;
}

.container {
  min-height: 660px;
  background-color: #e6e6e6;
  padding-top: 9rem;
  padding-bottom: 2rem;
}

.catergory {
  background-color: #fff;
  min-height: 200px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.category-header {
  font-size: 1.5rem;
  color: #bfbcbc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.25rem;
  font-weight: 300;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
}

.category-item {
  width: 10%;
  text-decoration: none;
  color: #000;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 0.625rem;
}

.category-item__img {
  padding-top: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-item__name {
  text-align: center;
  font-size: 0.875rem;
}

.sort {
  margin: 1rem 0;
}

.btn-sort {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding: 0 4px;
  margin: 0.5rem 0.5rem;
  color: #000;
  min-width: 2rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.product-item {
  display: block;
  text-decoration: none;
  position: relative;
  background-color: white;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0.1s;
  will-change: transform;
}
.product-item:hover {
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
  transform: translateY(-1px);
  cursor: pointer;
}
.product-item__img {
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.product-item__name {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.125rem;
  height: 2.25rem;
  margin: 10px 10px;
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.product-item__price {
  display: flex;
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 10px;
  font-size: 1rem;
  color: var(--primary-color);
}

.description-text {
  height: 5rem;
  width: 100%;
}

.selling-header {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.cart {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2rem 0;
}

th,
td {
  border: 0.5px solid;
  text-align: center;
}

.btn-warning {
  height: 2.5rem;
  min-width: 3rem;
  background-color: #f0c31f;
  line-height: 2.5rem;
}

.btn-danger {
  height: 2.5rem;
  background-color: #e74343;
  line-height: 2.5rem;
}

.checkout-form {
  width: 300px;
  margin-right: 1rem;
}

.form-checkout {
  width: 100%;
}

.cart {
  max-width: 70%;
}

.input-name {
  margin-bottom: 12px;
}

.flex-wrapper {
  display: flex;
  /* min-height: 100vh; */
  flex-direction: column;
  justify-content: space-between;
}

/* sanpham.php */
.product-detail {
  background-color: #fff;
  display: flex;
}
.this-product__img {
  width: 36%;
  min-height: 350px;
  background-position: center;
  margin: 12px 0;
}
.this-product__name {
  line-height: 1.5rem;
  font-size: 1.25rem;
  display: inline-block;
  margin-bottom: 1rem;
}
.this-product__info {
  position: relative;
  margin: 12px;
  width: 64%;
}
.this-product__price {
  font-size: 2rem;
  line-height: 3rem;
  background-color: #fafafa;
  display: flex;
  color: var(--primary-color);
  padding: 12px 24px;
}
.buy-btn,
.add-btn {
  margin: 0px;
  margin-top: 12px;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  line-height: 48px;
}
.this-product__seller {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.this-product_des {
  margin-top: 1rem;
  background-color: white;
  padding: 1rem 1rem;
}
.this-product_des-header {
  text-align: center;
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: var(--primary-color);
  padding: 12px 0;
  background-color: #fafafa;
}

.nav--menu {
  display: none;
}

.page-list {
  display: flex;
  justify-content: center;
}

.page-num {
  min-width: 2rem;
  min-height: 2rem;
  line-height: 2rem;
  text-align: center;
  margin: 0 0.375rem;
  border: 1px solid #0f0f0fde;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .grid {
    max-width: 100%;
    margin: 0 1rem;
  }

  .grid-row {
    max-width: 100%;
  }

  .grid__column-2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
  }

  .category-list {
    display: flex;
    /* margin-left: -12px;
    margin-right: -12px; */
  }

  .category-item {
    width: 20%;
  }

  .category-item__name {
    font-size: 12px;
  }

  .navbar-item {
    display: none;
  }

  .nav--menu {
    display: inline-block;
    color: #fff;
    font-size: 1.5rem;
  }

  .navbar--need {
    display: inline;
  }
  .fa-cart-shopping {
    float: right;
  }

  .user-info {
    left: auto;
    right: 0;
  }

  .header__search-input {
    font-size: 12px;
  }

  .selling {
    font-size: 12px;
  }

  .this-product__info {
    padding-bottom: 1rem;
  }

  .product-detail {
    display: block;
  }

  .this-product__info {
    width: 100%;
    padding-right: 1.5rem;
  }

  .this-product__seller {
    display: none;
  }

  .this-product__img {
    width: 100%;
    display: block;
  }

  .this-product__seller {
    bottom: 0;
    font-size: 12px;
  }

  table {
    font-size: 12px;
  }

  textarea,
  input {
    max-width: 90vh !important;
  }

  .checkout-form,
  .cart {
    width: 100%;
    margin-left: 1rem;
  }

  .form-checkout {
    width: 100%;
  }

  .hoanthanh-btn {
    align-self: center;
    width: 100%;
  }

  .cart {
    max-width: 100%;
  }

  .btn {
    margin: 8px;
  }
}
